.space{
  height: 1000px;
  width: 1000px;
  /* background: url(../images/space-3.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  background: steelblue;
}

/*==========================*/
/*----- Zoom Buttons -------*/
/*==========================*/
button{
  font-size: 30px;
  border-radius: 40%;
  outline:none;
}
#zoom-in{
  position: fixed;
  top: 300px;
  left: 90%;
}
#zoom-out{
  position: fixed;
  top: 350px;
  left: 90.4%;
}


/*==========================*/
/*------- Planets ----------*/
/*==========================*/
.planet{
  width: 60px;
  height:60px;
  background: pink;
  position: absolute;
  top: 300px;
  left:44px;
}
.hoth{
  top:600px;
  left:400px;
  background: url(../images/hoth.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
  transform: scale(1.5);
}


/*==========================*/
/*------- Modal ----------*/
/*==========================*/
.modal{
  background: rgba(0, 0, 0, 0.4);
}

.text{
  border: 8px solid gold;
  background: white;
  width:300px;
  height: 300px;
  position: fixed;
  top: 30%;
  left: 30%;
  display: none;
}
