body{
  background: black;
}
.super-deep-space{
  width: 600px;
  height: 400px;
  zoom: 2.5;
  background-image: url(../images/galaxy-2.jpeg);
  background-repeat: no-repeat;
  background-position: 10% 10%;
}
.deep-space{
  width: 1500px;
  height: 1000px;
  margin: auto;
  background-image: url(../images/space-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.space{
  height: 2000px;
  width: 2000px;
  zoom: .2;
  background: url(../images/space-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  /* background: steelblue; */
}

/*==========================*/
/*----- Zoom Buttons -------*/
/*==========================*/
button{
  font-size: 30px;
  border-radius: 40%;
  z-index: 5;
  outline:none;
}
#zoom-in{
  position: fixed;
  top: 300px;
  left: 90%;
}
#zoom-out{
  position: fixed;
  top: 350px;
  left: 90.4%;
}


/*==========================*/
/*------- Planets ----------*/
/*==========================*/
.planet{
  width: 60px;
  height:60px;
  position: absolute;
}
/* .new-planet{
  width: 60px;
  height:60px;
  position: absolute;
} */
.hoth{
  top:600px;
  left:400px;
  background: url(../images/planet-skins/hoth.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.alderaan{
  top:900px;
  left:600px;
  background: url(../images/planet-skins/Alderaan.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.yavin-4{
  top:100px;
  left:140px;
  background: url(../images/planet-skins/Yavin_IV.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.dagobah{
  top:50px;
  left:950px;
  background: url(../images/planet-skins/dagobah.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.bespin{
  top:500px;
  left:740px;
  background: url(../images/planet-skins/bespin.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.endor{
  top:1500px;
  left:1000px;
  background: url(../images/planet-skins/Endor.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.naboo{
  top:160px;
  left:1700px;
  background: url(../images/planet-skins/Naboo.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.coruscant{
  top:1800px;
  left:1800px;
  background: url(../images/planet-skins/Coruscant.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.kanino{
  top:1000px;
  left:1500px;
  background: url(../images/planet-skins/Kamino.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.geonosis{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/geonosis-2.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-1{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-1.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-2{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-2.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-3{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-3.png);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-4{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-4.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-5{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-5.jpeg);
  background-size: 65px 65px;
  border-radius: 100%;
  background-position: -3px -1px;
}
.planet-6{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-6.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-7{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-7.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-8{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-8.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-9{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-9.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-10{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-10.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-11{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-11.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-14{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-14.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-12{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-12.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-13{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-13.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-15{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-15.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-16{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-16.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-17{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-17.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-18{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-18.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-19{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-19.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-20{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-20.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.planet-21{
  top:1000px;
  left:200px;
  background: url(../images/planet-skins/planet-21.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}
.death-star{
  width: 60px;
  height:60px;
  position: absolute;
  top:400px;
  left:1900px;
  background: url(../images/planet-skins/death-star.jpeg);
  background-size: 62px 62px;
  border-radius: 100%;
}


/*==========================*/
/*------- Modal ----------*/
/*==========================*/
/* .modal{
  background: rgba(0, 0, 0, 0.4);
} */

.text{
  border: 8px solid gold;
  color: gold;
  width:200px;
  height: 400px;
  position: fixed;
  top: 20%;
  left: 15%;
  z-index: 5;
  display: none;
  padding: 3px;
}
.text p:first-child {
  float: right;
}
/*==========================*/
/*---- Hyperdrive  Btn -----*/
/*==========================*/
#new-planets{
  position: fixed;
  top: 90%;
  left: 40%;
  font-size: 13px;
  border-radius: 5%;
  /* border: 2px solid gold; */
  /* background: black; */
  /* color: white; */
}
/*==========================*/
/*------- Game Modal ----------*/
/*==========================*/
.game{
  border: 8px solid gold;
  color: gold;
  background: white;
  width:800px;
  height: 800px;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 7;
  display: none;
}

#recrute{
  position: relative;
  top: 600px;
}
/*==========================*/
/*----- At Desktop Size -------*/
/*==========================*/
@media(min-width:1000px){
  .text{
    width:400px;
    height:500px;
    text-align: center;
    top:15%;
    left:40%;
    font-size: 1.5em;
  }
}
